<script src="https://kit.fontawesome.com/a4740dea0d.js" crossorigin="anonymous"></script>

<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header-container">

           
              {{search submit=false instant=settings.instant_search class='search search-full'}}
            
   
</header>
<div class="container-wrapper">
      <header class="header-container">
        <div class="logo">
          {{#link 'help_center'}}
            <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
          {{/link}}
        </div>
       <nav class="user-nav" id="user-nav">
  <ul>
    <li class="user-info dropdown">
      {{user_avatar class="user-avatar"}}
      <span class="user-name">{{user_name}}</span>
      <div class="dropdown-menu" role="menu">
        {{#link "sign_out" role="menuitem"}}
          <i class="fa-solid fa-mobile-screen-button"></i>
          <span class="icon-title">{{t 'sign_out'}}</span>
        {{/link}}
      </div>
    </li>
  
    <li>
      {{#link 'community'}}
        <i class="fa-solid fa-users"></i>
        <span class="icon-title">{{t 'community'}}</span>
      {{/link}}
    </li>
    <li>
      {{#link 'new_request' class='submit-a-request'}}
        <i class="fa-solid fa-envelope"></i>
        <span class="icon-title">{{t 'submit_a_request'}}</span>
      {{/link}}
    </li>
     <li>
      <a href="https://techwitch.uk">
        <i class="fa-solid fa-globe"></i>
        <span class="icon-title">Main website</span>
      </a>
    </li>
    {{#if signed_in}}
      <li>
        {{#link "change_password"}}
          <i class="fa-solid fa-lock"></i>
          <span class="icon-title">{{t 'change_password'}}</span>
        {{/link}}
      </li>
      <li>
        {{#link "my_activities"}}
          <i class="fa-solid fa-clock-rotate-left"></i>
          <span class="icon-title">{{t 'activities'}}</span>
        {{/link}}
      </li>
    {{else}}
      <li>
        {{#link "sign_in" class="sign-in"}}
          <i class="fa-solid fa-mobile-screen-button"></i>
          <span class="icon-title">{{t 'sign_in'}}</span>
        {{/link}}
      </li>
    {{/if}}
  </ul>
</nav>
      </header>
