<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header-container">

            <h2>{{t 'search'}}</h2>
              {{search submit=false instant=settings.instant_search class='search search-full'}}
            </div>
   
</header>
<div class="container-wrapper">
      <header class="header-container">
        <div class="logo">
          {{#link 'help_center'}}
            <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
          {{/link}}
        </div>
        <nav class="user-nav" id="user-nav">
          <ul>
             <li class="user-info dropdown">
                {{user_avatar class="user-avatar"}}
                <span class="user-name">{{user_name}}</span>
                <div class="dropdown-menu" role="menu">
                  {{#link "sign_out" role="menuitem"}}
                    <i class="fas fa-sign-out-alt" title="{{t 'sign_out'}}"></i>
                  {{/link}}
                </div>
            <li>
              {{#link 'community'}}
                <i class="fas fa-users" title="{{t 'community'}}"></i>
              {{/link}}
            </li>
            <li>
              {{#link 'new_request' class='submit-a-request'}}
                <i class="fas fa-envelope" title="{{t 'submit_a_request'}}"></i>
              {{/link}}
            </li>
            {{#if signed_in}}
              <li>
                {{#link "my_activities"}}
                  <i class="fas fa-ticket-alt" title="{{t 'requests'}}"></i>
                {{/link}}
              </li>
              <li>
                {{#link "my_activities"}}
                  <i class="fas fa-history" title="{{t 'activities'}}"></i>
                {{/link}}
            {{else}}
              <li>
                {{#link "sign_in" class="sign-in"}}
                  <i class="fas fa-sign-in-alt" title="{{t 'sign_in'}}"></i>
                {{/link}}
              </li>
            {{/if}}
          </ul>
        </nav>
      </header>
