<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
      <div class="search">
    <h2 class="visibility-hidden">{{ t 'search' }}</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
      class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
    </svg>
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
    </div>
  </nav>

  <div class="section-container">
    <section id="main-content" class="section-content">
      <header class="page-header">
        <h1>{{section.name}}</h1>
        {{#if settings.show_follow_section}}
          <div class="section-subscribe">{{subscribe}}</div>
        {{/if}}
        {{#if section.description}}
          <p class="page-header-description">{{section.description}}</p>
        {{/if}}
      </header>

    

   
<dl class="mt-5 md:mt-10 space-y-6 divide-y divide-gray-900/10">
      {{#each section.articles}}
      <div class="pt-6">
        <dt>
          <button type="button" class="flex w-full items-start justify-between text-left text-gray-900" aria-controls="article-{{id}}" aria-expanded="false">
            <span class="text-base font-semibold leading-7">{{title}}</span>
            <span class="ml-6 flex h-7 items-center">
              <svg class="{{#if @first}}hidden{{/if}} h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
              </svg>
              <svg class="{{#unless @first}}hidden{{/unless}} h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
              </svg>
            </span>
          </button>
        </dt>
        <dd class="mt-2 pr-12 {{#unless @first}}hidden{{/unless}}" id="article-{{id}}">
          <p class="text-base leading-7 text-gray-600">{{excerpt body}}</p>
          <a href="{{url}}" class="block my-4 underline">View article here</a>
        </dd>
      </div>
      {{/each}}
    </dl>
  </div>
     {{pagination}}
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll('button[aria-controls]').forEach(button => {
    button.addEventListener('click', () => {
      const articleId = button.getAttribute('aria-controls');
      const content = document.getElementById(articleId);
      const isExpanded = button.getAttribute('aria-expanded') === 'true';
      
      button.setAttribute('aria-expanded', !isExpanded);
      content.classList.toggle('hidden');
      
      button.querySelectorAll('svg').forEach(icon => icon.classList.toggle('hidden'));
    });
  });
});
</script>
    </section>
  </div>
</div>

